/* APPLYING MEDIA QUERIES */
@media (max-width: 600px) {

    /* NOT DISPLAYED ON MOBILE */
    .shopping-cart-list-icon,
    .menu {
        @include no-display;
    }

    // DISPLAYING ON MOBILE 
    .hero-image,
    .main-header,
    .show-list-menu {
        @include display-block;
    }


    /* STICKY NAVBAR MOBILE */
    .sticky {
        position: sticky;
    }

    .logo-img {
        width: 100px;
        height: 50px;
    }

    .menu {
        position: absolute;
        background-color: $eifans-black;
        right: 5%;
        text-align: center;
        padding: 16px 0;

        li:hover {
            display: inline-block;
            background-color: $eifans-white;
            transition: 0.3s ease;
        }

        li+li {
            margin-top: 12px;
        }
    }

    .hamburger,
    .shopping-cart {
        display: inline-block;
        padding: 10px;
    }

    .hero-image {
        max-width: 100%;
        min-height: 500px;
        max-height: 750px;
        background-image: url(../images/background.jpg);
        background-color: #f5f5f7;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 90%;
    }

    .image-gallery-div {
        margin-top: 10px;

        img {
            height: 200px;
            width: auto;
        }
    }

    .scroll-menu {
        height: max-content;
    }

         
    .checkout-div {
        width: 75%;
        height: min-content;

        img {
            max-height: 112px;
        }
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}